.alpha-color {
  color: blue;
}

.bravo-color {
  color: #EAB308;
}

.charlie-color {
  color: #22C55E;
}

.extra-color {
  color: #EF4444;
}

.featured-color {
  color: #EA580C;
}

html {
  font-family: "Manrope", sans-serif;
  height: 100%;
  margin: 0;
  color: white;
  background: no-repeat url("./images/Italian-streets.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

body {
  margin: 0;
  min-height: 100%;
  font-family: "Manrope", sans-serif;
  font-weight: 300;
  color: white;
  background-color: rgba(0, 0, 0, 0.75);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

header {
  text-align: center;
  max-width: 500px;
  padding-top: 3rem;
}
header h1 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-size: 2.25rem;
}
header p {
  font-size: 1.2rem;
}

#view {
  display: flex;
  align-items: center;
  border-radius: 4rem;
  border: solid 1px white;
}
#view button {
  font-size: 0.625rem;
  padding: 0.5rem;
  text-decoration: none;
  color: white;
  transition: all 0.35s ease-in-out;
  background: none;
  border: none;
}
#view #left-view {
  border-radius: 4rem 0 0 4rem;
}
#view #right-view {
  border-radius: 0 4rem 4rem 0;
}
#view .active {
  color: black;
  background-color: white;
  font-weight: bold;
}
#view .inactive {
  background-color: rgba(0, 0, 0, 0.25);
}

#subscription-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding-bottom: 4rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 1.875rem 0.35rem;
  width: 15rem;
  border: solid 1px white;
  border-radius: 1%;
  transition: 0.2s ease-in-out;
  text-align: center;
}
.card p {
  transition: 0.2s ease-in-out;
  font-size: 0.8125;
}
.card div {
  width: 100%;
}
.card .top {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: solid 1px gray;
}
.card .bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card .title {
  transition: 0.2s ease-in-out;
  opacity: 0.9;
  font-size: 1.125rem;
  font-weight: 600;
}
.card .icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 5rem;
  border-radius: 100%;
  background-color: white;
}
.card .price {
  transition: 0.2s ease-in-out;
  font-weight: 300;
  font-size: 1.5rem;
}

.featured {
  position: relative;
  overflow: hidden;
  background-color: white;
  color: gray;
  font-weight: bolder;
  border: unset;
}
.featured .tag {
  font-family: "Montserrat", sans-serif;
  position: absolute;
  padding: 0.75rem 1.875rem;
  top: 0.6rem;
  left: -1.875rem;
  transform: rotate(315deg);
  background-color: var(--featured-color);
  color: white;
  font-size: 0.5625rem;
  text-transform: uppercase;
}
.featured .price {
  color: black;
}

.shadow-alpha {
  filter: drop-shadow(0 0.75rem 1.25rem blue);
}

.shadow-bravo {
  filter: drop-shadow(0 0.75rem 1.25rem #EAB308);
}

.shadow-charlie {
  filter: drop-shadow(0 0.75rem 1.25rem #22C55E);
}

.shadow-extra {
  filter: drop-shadow(0 0.75rem 1.25rem #EF4444);
}

.shadow-featured {
  filter: drop-shadow(0 0.75rem 1.25rem #EA580C);
}

.primary-button {
  font-size: 0.8125rem;
  text-align: center;
  border: none;
  padding: 0.625rem;
  border-radius: 1.5rem;
  background-color: #EA580C;
  width: 50%;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  color: white;
}

.secondary-button {
  font-size: 0.8125rem;
  text-align: center;
  border: none;
  padding: 0.625rem;
  border-radius: 1.5rem;
  background-color: white;
  width: 50%;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

/*# sourceMappingURL=index.css.map */
